<div class="card profile-info card-shadow">


  <div class="cover-photo-container">
    <span class="btn custom-bg-green pointer text-white follow-button shadow-sm"><strong>follow</strong></span>
  </div>

  <div class="row profile-bottom profile-bottom-1">

    <div class="col-sm-12 d-flex justify-content-start">

      <div>
        <img class="user-avatar" src="assets/images/avatar-default.png" />
      </div>
  
      <div>
        <span class="color-darkgreen h4">{{ profile?.detail?.name  }}</span>
        <span *ngIf="profile?.localAddress"  class="color-darkgreen intro-title h6 d-block"> 

          <strong *ngIf="profile?.branchStatus === 'Independent'" >HeadQuarters: </strong>
          <strong *ngIf="profile?.branchStatus !== 'Independent'"  >Branch 

            <span>
              <i *ngIf="profile?.branchStatus === 'RequestSent'" class="fa fa-clock text-dark" ></i>
              <i *ngIf="profile?.branchStatus === 'Accepted'"class="fa fa-check-circle text-success" ></i>
              <i *ngIf="profile?.branchStatus === 'Rejected'" class="fa fa-times-circle text-danger" ></i>
            </span>:
          </strong> 

          {{ profile?.localAddress.displayAddress() }}
          <i *ngIf="profile?.localAddress?.verifiedInLocation" class="fas fa-check-circle text-success"></i> 
          <i *ngIf="!profile?.localAddress?.verifiedInLocation" class="fas fa-times-circle text-danger"></i> 
        </span>
        <span *ngIf="!profile?.localAddress"  class="color-darkgreen intro-title h6 d-block"> Address not given yet</span>
      </div>

    </div>

    <div class="col-sm-12 d-flex justify-content-start">
      <span class="mr-3"><b>{{ profile?.follows?.following }}</b> following</span>
      <span><b>{{ profile?.follows?.following }}</b> Followers</span>
    </div>

    <!-- <div class="col col-md-2">
      <button type="button" class="btn btn-circle btn-lg profile-btn"><i class="mdi mdi-border-color"></i> </button>
      <div ngbDropdown class="btn-group">                   
          <button class="btn btn-warning btn-sm" type="button" ngbDropdownToggle aria-controls="dropdsown-basic">
              More
          </button>
          <button type="button"  ngbDropdownToggle aria-controls="dropdown-basic-actions" class="btn btn-circle btn-lg profile-btn"><i class="icon-options"></i> </button>
          <div class="" id="dropdown-basic-actions" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:void(0);" (click)="showEditContactModal(profile)">Manage Contact</a>
              <a class="dropdown-item" href="javascript:void(0);" (click)="showEditGlobaladdressModal(profile)">Manage Global Address</a>
              <a class="dropdown-item" href="javascript:void(0);" (click)="editSkills()">Manage Skills</a>
          </div>
      </div>
      <button type="button" class="btn btn-circle btn-lg profile-btn"><i class="icon-options"></i> </button>
    </div> -->
  </div>

  <!-- <div class="row  profile-bottom profile-bottom-2"> -->


      <!-- Organization Location -->
    <!-- <div class="col col-md-10">
      <div class="row">
        <div class="col col-md-3">
            <p><i class="icon-location-pin"></i> {{ profile?profile.detail.location:'not yet set' }}</p>
            <p *ngIf="profile?.localAddress" ><i class="icon-location-pin"></i> {{ profile?.displayLocalAddress() }}</p>
            <p *ngIf="!profile?.localAddress"><i class="icon-location-pin"></i> Not set yet</p>
        </div>
        <div class="col col-md-2">
          <p><i class="icon-symble-male"></i> {{ profile?.detail?.organizationType}}</p>
        </div>
        <div class="col col-md-2">
          <p><i class="icon-calender"></i> {{ profile?profile.detail.dateOfBirth|date:'dd mm YYYY':'' }}</p>
          <p><i class="icon-calender"></i> {{ profile?.detail?.yearFounded }}</p>
        </div>
        <div class="col col-md-2">
          <p><i class="icon-note"></i> {{ profile?.detail?.dateJoined|date:'MMMM yyyy' }}</p>
        </div>
        <div class="col col-md-3"></div>
      </div>
    </div> -->

  <!-- </div> -->

</div>