


<div class="row col-sm-12" style="margin-top: 20px">
  <!-- <ngb-alert *ngIf="responseMessage" [type]="messageType" (close)="responseMessage = null">{{ responseMessage }}</ngb-alert>    -->
</div>
<div id="loginform">
    <div class="row">
        <div class="col-12">

            <form class="form-horizontal m-t-20" [formGroup]="registerOrganizationForm" >

              <div class="input-group mb-3">
                  <div class="col-12 ">
                      <input class="form-control border-input"  type="text" required=" " placeholder="Name of Organization" formControlName="name">
                      <app-validator-error-message  [form]="registerOrganizationForm" [field]="'name'"  ></app-validator-error-message>
                  </div>
                  
              </div>
              
              <div class="input-group mb-3">
                <div class="input-group">
                  <div class="col-12 ">
                    <input type="text" name="emailAddress"  autocomplete="off" class="form-control border-input"  placeholder="Enter Email" aria-label="Email" aria-describedby="basic-addon1" formControlName="emailAddress">
                    <app-validator-error-message  [form]="registerOrganizationForm" [field]="'emailAddress'"  ></app-validator-error-message>

                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group">

                  <div class="col-12 ">
                    <select class="form-control border-input" placeholder="Type of Organization" formControlName="organizationType">
                        <option *ngFor="let type of organizationTypes" [value]="type.key" >{{type.value}}</option>
                    </select>   

                    <app-validator-error-message  [form]="registerOrganizationForm" [field]="'organizationType'"  ></app-validator-error-message>

                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group">

                  <div class="col-12 ">
                    <select class="form-control border-input" placeholder="Industry" formControlName="industry">
                      <option *ngFor="let item of industries" [value]="item" >{{item}}</option>
                    </select>

                    <app-validator-error-message  [form]="registerOrganizationForm" [field]="'industry'"  ></app-validator-error-message>

                  </div>
                </div>
              </div>

                <div class="input-group mb-3">
                    <div class="input-group">

                        <div class="col-12 ">
                            <input class="form-control border-input"  type="password" required=" " placeholder="Password"  formControlName="password">
                        </div>
                        <app-validator-error-message  [form]="registerOrganizationForm" [field]="'password'"  ></app-validator-error-message> 

                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group">

                        <div class="col-12 ">
                            <input  class="form-control border-input"  type="password" required=" " placeholder="Confirm password" formControlName="confirmPassword">
                        </div>
                        <app-validator-error-message  [form]="registerOrganizationForm" [field]="'confirmPassword'"  ></app-validator-error-message>
                    
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 p-b-20">
                        <a class="grey-link"  routerLink="/authentication/login">
                          Would you rather <span class="green-text">Sign in</span>
                        </a>
                        <button type="button" [disabled]="loading" (click)="registerOrganization()" class="btn btn-dark btn-curved float-right">                            
                            Sign Up 
                            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </button>
                    </div>
                    
                </div>
            </form>

            <div (click)="registerAsIndividualAction()" class="text-center pointer green-text">
              register as an Individual
            </div>
        </div>
    </div>
</div>
