// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.



// Custom css that may be used in all components/pages
// These codes are backward compatible and will not affect future codes

// When over on the element change to a pointer
.pointer {
    cursor: pointer;
}

// active list element should be this color
.active-success {
    color: #fff;
    background-color: #6FDC61;
}

// order list element or active when hover should have this color
.active-success:hover, .success:hover {
    background-color: #f3fbf2;
    color: #6FDC61;
}



// Colors --------------------------------------------------------------

// Backgrounds
.custom-bg-green {
    background-color: #6FDC61;
    color: #fff;
}

.custom-bg-lighter-green {
    background-color: #f3fbf2;
}

// Text-colors 
.custom-text-green {
    color: #6FDC61;
}

// Custom borders
.custom-border-green {
    border: 1px solid #6FDC61;
}



// Customs structure

.custom-lengend {
    position: absolute;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    top: -5px;
    left: 31px;
}


.general-loading {
    height: 15px;
    width: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}

// Profile picture small image

.profile-pic-sm {
    width: 40px;
    height: 40px;
}