<div class="row">
    <div class="col-md-9 col-xs-12" *ngIf="posts"> 
        <div  *ngFor="let post of posts; index as i" >
            <app-task-card [post]='post'></app-task-card>
            <app-problem-card [post]='post'></app-problem-card>
        </div>
    </div>
    
    <div class="col-md-3 col-xs-12">
        <div class="card" style="height:100vh">
            <div class="card-body">
                <p class="card-text">what's going to be here dennis ?</p>
            </div>
        </div>
    </div>

</div>
