<div>
  <div class="row">
    <div class="col col-md-4 option-container">
      <div class="opt-inner">
        <img src="assets/images/idea.png" />
        <h4>Create Task</h4>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do </p>
          <button type="button" class="btn btn-rounded btn-1" (click)="gotoPage('task')">Go</button>
      </div>
    </div>
    <div class="col col-md-4 option-container">
      <div class="opt-inner">
        <img src="assets/images/idea.png" />
        <h4>Create Problem</h4>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do </p>
          <button type="button" class="btn btn-rounded btn-1" (click)="gotoPage('problem')">Go</button>
      </div>
    </div>
    <div class="col col-md-4 option-container">
      <div class="opt-inner">
        <img src="assets/images/idea.png" />
        <h4>Create Idea</h4>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do </p>
          <button type="button" class="btn btn-rounded btn-1" disabled (click)="gotoPage('task')">Coming soon</button>
      </div>
    </div>
  </div>
</div>