<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Search for organization to join</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">  
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">   

              <div *ngIf="formError.genericError" class="col-12 alert alert-danger" role="alert">
                {{formError.genericError}}
              </div>

                <div class="col-sm-12">                                      
                    <form [formGroup]="searchOrganizationForm" class="form-horizontal m-t-25">

                      <div class="form-group row ">

                        <div class="col-lg-3">
                          <div class="col-12 ">
                            <p class="modal-lbl">Organization Name</p>
                          </div>
                        </div>

                        <div class="col-lg-9">
                          <div class="col-12 ">
                              <fieldset [ngClass]="{ 'border-danger': formError.isInvalid(searchOrganizationForm, 'organizationName') }" class="border p-2">
                                  
                                  <legend  class="w-auto"> <span class="d-none d-lg-block" >Organization Name</span> </legend>                                
                                  
                                  <input formControlName="organizationName" autocomplete="off" class="form-control form-control-md fieldset-input dropdown-toggle" data-toggle="dropdown" placeholder="Name of Organization">
                                  
                                  <app-search-organization-autocomplete #autocomplete_organization (selectedOrganization)="organizationSelected($event)" ></app-search-organization-autocomplete>
                                  
                                </fieldset>

                                <app-validator-error-message [form]="searchOrganizationForm" [field]="'organizationName'" ></app-validator-error-message>   

                            </div>
                        </div>
                        
                      </div>

                    </form>
              </div>


            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-rounded btn-2" (click)="activeModal.close()" >Cancel</button>
  <button type="button" (click)="sendOrganization()" class="btn btn-rounded btn-1">Send Request
    <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </button>
</div>