<nav>
  <img  class="logo" src="" alt="">
<ul class="nav-links">
  <li><a routerLink = ""> Home</a></li>
  <li><a routerLink = ""> Map </a></li>
  <li><a routerLink = ""> Our Product</a></li>
  <li><a routerLink = ""> About Us </a></li>
</ul>
<div>
  <a routerLink = '/authentication/signup'><button class="btn-one">Create account</button></a>
  <a routerLink = '/authentication/login'><button class="btn-two">Sign in</button></a>
</div>
</nav>

  <section class="section-one">
    <div class="intro-one">
      <div class="intro-text">
        <h1> The new <br> economy</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia laborum sit minima facere. Temporibus in doloribus aperiam iusto dolor aut!</p>
        </div>
          <div class="cta">
            <a routerLink = '/authentication/signup'><button class="btn-one">Join the revolution</button></a>
          <a routerLink = '/authentication/login'><button class="btn-two">Sign in</button></a>
          </div>
       </div>
    <div class="cover-one">
      <img  src="../../../assets/landing/Image 18.png" alt="Image1">
    </div>
    </section>
    <section class="section-two">
      <div class="presentation">
        <div class="intro-two">
          <h1>
            Make an impact
          </h1>
        </div>
        <div class="cover-two">
          <div class="card-item">
            <img src="../../../assets/landing/Image 21.png" alt="Avatar">
            <div class="card-details">
              <h1>200,000</h1> 
              <p>Problem solved</p> 
              <a routerLink = '/learn'><button class="btn">Learn more</button></a>
            </div>
          </div>
          <div class="card-item">
            <img src="../../../assets/landing/Image 21.png" alt="Avatar">
            <div class="card-details">
              <h1>400,000</h1> 
              <p>Task assigned</p> 
              <a routerLink = '/learn'><button class="btn">Learn more</button></a>
            </div>
          </div>
          <div class="card-item">
            <img src="../../../assets/landing/Image 21.png" alt="Avatar">
            <div class="card-details">
              <h1>296,500</h1> 
              <p>Organisation created</p> 
              <a routerLink = '/learn'><button class="btn">Learn more</button></a>
            </div>
          </div>
        </div>
        </div>
    </section>

    <section class="section-three">
     <div class="cover-three">
       <div class="image-card">
         <img src="../../../assets/landing/Image 19.jpg" alt="">
       </div>
     </div>

      <div class="info-three">
      <div class="contents">
        <h1>Create Task</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi repellendus modi, omnis maiores, odit repudiandae quis cum hic accusamus dolor!</p>
        <a routerLink = './authentication/signup'><button class="btn">Sign up now</button></a>
      </div>
      </div>
    </section>

    <section class="section-four">
      <div class="wrapper">
        <div class="info-four">
          <div class="contents">
            <h1>Solve Problems</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi repellendus modi, omnis maiores, odit repudiandae quis cum hic accusamus dolor !</p>
            <a routerLink = './authentication/signup'><button class="btn">Sign up now</button></a>
          </div>
          </div>
  
        <div class="cover-four">
          <div class="image-card-one">
            <img src="../../../assets/landing/Image 19.jpg" alt="">
          </div>
        </div>
      </div>
     </section>

     <section class="section-five">
      <div class="cover-five">
        <div class="image-card-two">
          <img src="../../../assets/landing/Image 19.jpg" alt="">
        </div>
      </div>
 
       <div class="info-five">
       <div class="contents">
         <h1>Impact locally <br> and globally</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi repellendus modi, omnis maiores, odit repudiandae quis cum hic accusamus !</p>
         <a routerLink = './authentication/signup'><button class="btn">Sign up now</button></a>
       </div>
       </div>
     </section>

     <section class="section-six">
      <div class="info-six">
        <div class="contents">
          <h1>Join organization</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi repellendus modi, omnis maiores, odit repudiandae quis cum hic accusamus !</p>
          <a routerLink = './authentication/signup'><button class="btn">Sign up now</button></a>
        </div>
        </div>

      <div class="cover-six">
        <div class="image-card-three">
          <img src="../../../assets/landing/Image 19.jpg" alt="">
        </div>
      </div>
     </section>

     <section class="section-seven">
        <div class="contents">
          <h1>All the best in one place, <br> the future of the economy is here</h1>
        </div>
     </section>

     <section class="section-eight">
       <div class="rectangle-box">
         <div class="top-box"></div>
       </div>
       <div class="content-eight">
        <h1>Join ECO now</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi repellendus modi, omnis maiores, odit repudiandae quis cum hic accusamus !</p>
         <a routerLink = './authentication/signup'><button class="btn">Sign up now</button></a>
       </div>
      </section>

      <footer class="footer" >
        <div class="footer-wrapper">
          <div class="footer-content">
            <h6>Company</h6>
            <div>
              <ul>
                <li><a href="">About us</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Security</a></li>
                <li><a href="">Career</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-content">
            <h6>Our product</h6>
            <div>
              <ul>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-content">
            <h6>Legal</h6>
            <div>
              <ul>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-content">
            <h6>Connect</h6>
            <div>
              <ul>
                <li><a href="">hello@loremipsum.com</a></li>
                <li><a href="">+234123456789</a></li>
                <li><a href="">+234123456789</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

     
  
  




