<nav>
  <img  class="logo" src="" alt="">
<ul class="nav-links">
  <li><a routerLink = ""> Home</a></li>
  <li><a routerLink = ""> Map </a></li>
  <li><a routerLink = ""> Our Product</a></li>
  <li><a routerLink = ""> About Us </a></li>
</ul>
<div>
  <a routerLink = '/authentication/signup'><button class="btn-one">Create account</button></a>
  <a routerLink = '/authentication/login'><button class="btn-two">Sign in</button></a>
</div>
</nav>
<main>
  <section class="section-one">
    <div class="intro-one">
      <div class="intro-text">
        <h1> The new <br> economy</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia laborum sit minima facere. Temporibus in doloribus aperiam iusto dolor aut!</p>
        </div>
        <div class="cta">
          <a routerLink = '/authentication/signup'><button class="btn-one">Join the revolution</button></a>
          <a routerLink = '/authentication/login'><button class="btn-two">Sign in</button></a>
        </div>
       </div>
    <div class="cover-one">
      <img  src="../../../assets/landing/Image 18.png" alt="Image1">
    </div>
    </section>
    <section class="section-two">
      <div class="presentation">
        <div class="intro-two">
          <h1>
            Make an impact
          </h1>
        </div>
        <div class="cover-two">
          <div class="card-item">
            <img src="../../../assets/landing/Image 21.png" alt="Avatar">
            <div class="card-details">
              <h1>20000</h1> 
              <p>Problem solved</p> 
              <a routerLink = '/learn'><button class="btn">Learn more</button></a>
            </div>
          </div>
          <div class="card-item">
            <img src="../../../assets/landing/Image 21.png" alt="Avatar">
            <div class="card-details">
              <h1>20000</h1> 
              <p>Problem solved</p> 
              <a routerLink = '/learn'><button class="btn">Learn more</button></a>
            </div>
          </div>
          <div class="card-item">
            <img src="../../../assets/landing/Image 21.png" alt="Avatar">
            <div class="card-details">
              <h1>20000</h1> 
              <p>Problem solved</p> 
              <a routerLink = '/learn'><button class="btn">Learn more</button></a>
            </div>
          </div>
        </div>
        </div>
    </section>
    <section class="section-three">
     <div class="cover-three">
        <img src="../../../assets/landing/Image 19.png" alt="Image">
     </div>
      <div class="info-three">

      </div>
    </section>
</main>




