<div class="row">
  <div class="col-md-9">
    
    <ngb-tabset class="tabset1">
      <ngb-tab title="Application open">
        <ng-template ngbTabContent>
          <div class="tab-container">
            <div class="card card-shadow"  *ngFor="let post of tasks; index as i">
                <app-task-card [post]='post'></app-task-card>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Application closed">
        <ng-template ngbTabContent>
            <div class="tab-container">
                <div class="card card-shadow"  *ngFor="let post of tasks; index as i">
                    <app-task-card [post]='post'></app-task-card>
                </div>
            </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Ongoing">
        <ng-template ngbTabContent>
          <div class="tab-container">
            <div class="card card-shadow"  *ngFor="let post of tasks; index as i">
                <app-task-card [post]='post'></app-task-card>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Completed">
        <ng-template ngbTabContent>
          <div class="tab-container">
            <div class="card card-shadow"  *ngFor="let post of tasks; index as i">
                <app-task-card [post]='post'></app-task-card>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="col-md-3">
      <div class="card" style="height:100vh">
          <div class="card-body">
              <h4 class="card-title">Right section</h4>
              <p class="card-text">what's going to be here dennis ?</p>
          </div>
      </div>
  </div>
</div>
