<div class="modal-header">
  <!-- <h4 class="modal-title">Remove Middleman</h4> -->
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">  
  <div class="row">
    <div class="col-md-3">
      <div class="user-pic">
          <img src="assets/images/avatar-default.png" alt="users" class="rounded-circle" width="60" />
      </div>
    </div>
    <div class="col-md-9">
      <h2 class="card-title">
        <a class="btn btn-clear" style="float: right;" (click)="addUser()">
            <i class="fas fa-plus"></i> <span>Add to Job</span>
        </a>
        <a class="btn btn-clear" style="float: right;" (click)="viewCv()">
           <span>View CV</span>
        </a>
        <a class="btn btn-clear" style="float: right;" target="_blank" href="https://www.linkedin.com/">
           <span>View LinkedIn</span>
        </a>
      </h2>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-10">
      <div class="user-pidc">
            <h2>Aanu Adedoye</h2>
            <p>aanuade@gmail.com</p>
      </div>
    </div>
    <div class="col-md-2">
      <h1>
        4
      </h1>
      <p>Ranked</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="user-pidc">
            <p class="sect-title">Current Position</p>
            <p>Managing Editor</p>
      </div>
    </div>
    <div class="col-md-4">
      <p class="sect-title">
        Current Company
      </p>
      <p>Paystack</p>
    </div>
    <div class="col-md-4">
      <p class="sect-title">
        Location
      </p>
      <p>Lagos</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="user-pidc">
            <p class="sect-title">Expected Salary</p>
            <p>$230,000</p>
      </div>
    </div>
    <div class="col-md-4">
      <p class="sect-title">
        Referral link
      </p>
      <p>cb.com/ayt227</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="sect-title">
        Education
      </p>
      <p>MIT</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>Strengths</p>
      <div>
        <a class="btn btn-rounded btn-dark btn-outline-primary">
          <span>Thinking</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" style="text-align: center !important; display: block;">
  <p>23/09/2019</p>
</div>