<div class="row">

  <!-- Basic information about the organization in view -->
  <div class="col-12 mb-4">
    <app-view-organization-header [profile]="profile" ></app-view-organization-header>
  </div>

  <!-- Menu for the views in this organization -->
  <div class="col-lg-2">

    <div class="dropdown">
      <button class="btn custom-bg-green text-white mobile-button d-lg-none d-xl-none" id="mobileMenu" data-toggle="dropdown" ><i class="fa fa-bars" ></i></button>

      <div class="dropdown-menu" aria-labelledby="mobileMenu">
        <span class="dropdown-item pointer success" (click)="navigateTo('problem')" [ngClass]="{'active-success': viewSection==='problem'}" >Problem</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('task')" [ngClass]="{'active-success': viewSection==='task'}">Task</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('about')" [ngClass]="{'active-success': viewSection==='about'}">About</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('contact')" [ngClass]="{'active-success': viewSection==='contact'}">Contact</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('services')" [ngClass]="{'active-success': viewSection==='services'}">Services</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('employeeAndSkills')" [ngClass]="{'active-success': viewSection==='employeeAndSkills'}">Employee and skills</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('branches')" [ngClass]="{'active-success': viewSection==='branches'}">Branches</span>
        <span class="dropdown-item pointer success" (click)="navigateTo('community')" [ngClass]="{'active-success': viewSection==='community'}">Community</span>
      </div>
    </div>

    <!-- Desktop view -->
    <ul class="list-group list-group-flush shadow-sm green-text d-none d-lg-block">
      <li class="list-group-item pointer success" (click)="navigateTo('problem')" [ngClass]="{'active-success': viewSection==='problem'}" >Problem</li>
      <li class="list-group-item pointer success" (click)="navigateTo('task')" [ngClass]="{'active-success': viewSection==='task'}">Task</li>
      <li class="list-group-item pointer success" (click)="navigateTo('about')" [ngClass]="{'active-success': viewSection==='about'}">About</li>
      <li class="list-group-item pointer success" (click)="navigateTo('contact')" [ngClass]="{'active-success': viewSection==='contact'}">Contact</li>
      <li class="list-group-item pointer success" (click)="navigateTo('services')" [ngClass]="{'active-success': viewSection==='services'}">Services</li>
      <li class="list-group-item pointer success" (click)="navigateTo('employeeAndSkills')" [ngClass]="{'active-success': viewSection==='employeeAndSkills'}">Employee and skills</li>
      <li class="list-group-item pointer success" (click)="navigateTo('branches')" [ngClass]="{'active-success': viewSection==='branches'}">Branches</li>
      <li class="list-group-item pointer success" (click)="navigateTo('community')" [ngClass]="{'active-success': viewSection==='community'}">Community</li>
    </ul>

  </div>

  <!-- Views seen by the users -->
  <div class="col-lg-8">
      
    <app-view-organization-problems *ngIf="viewSection === 'problem'"  ></app-view-organization-problems>
    <app-view-organization-tasks *ngIf="viewSection === 'task'" ></app-view-organization-tasks>
    <app-organization-about [organization]="profile" *ngIf="viewSection === 'about'"></app-organization-about>
    <app-user-contact [userId]="organizationId" *ngIf="viewSection === 'contact'" ></app-user-contact>
    <app-organization-services [organization]="profile" *ngIf="viewSection === 'services'" ></app-organization-services>
    <app-organization-employees-skills [organization]="profile" *ngIf="viewSection === 'employeeAndSkills'" ></app-organization-employees-skills>
    <app-organization-branches [organizationId]="organizationId" *ngIf="viewSection === 'branches'" ></app-organization-branches>
    <app-organization-community *ngIf="viewSection === 'community'" ></app-organization-community>
  </div>

  <!-- Coming soon -->
  <div class="col-lg-2 d-none d-lg-block">
      <div class="card" style="height:100vh">
          <div class="card-body">
              <h4 class="card-title">Right section</h4>
              <p class="card-text">what's going to be here dennis ?</p>
          </div>
      </div>
  </div>

</div>
