<div class="card card-shadow">

  <img class="pl-2 general-loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

  
  <div class="card-body">
    <h5 class="card-title border-bottom">Employees and Skills
      <i  class="fa fa-search pointer custom-text-green float-right" data-toggle="collapse" data-target="#openServiceSearch" aria-expanded="false" aria-controls="openServiceSearch" ></i>
    </h5>

    <div class="collapse mb-2" id="openServiceSearch">
      <fieldset class="border p-2" style="position: relative;">
                                  
        <legend  class="w-auto"> <span class="d-none d-lg-block" >Service Name</span> </legend>   

        <i  class="fa fa-times text-danger pointer clear-form-button" ></i>

        <input class="form-control form-control-md fieldset-input" placeholder="Search for a service">
                                        
      </fieldset>    
    </div>

    <div class="row">

      <div class="col-md-2 h5">
        Summary
      </div>

      <div class="col-md-10">
        
        <div class="row">
          <div class="col-md-5 custom-text-green custom-border-green p-2 mb-2 custom-rounded custom-bg-lighter-green mr-3">
            <span>Total Employees</span>
            <span class="h5 d-block">50</span>
          </div>
  
          <div class="col-md-5 custom-text-green custom-border-green p-2 mb-2 custom-rounded custom-bg-lighter-green mr-3">
            <span>Total Skills owned</span>
            <span class="h5 d-block">50</span>
            <span class="pointer"> view skills</span>
          </div>
        </div>


      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <hr>
      </div>

      <div class="col-md-2 h5">
        Employees
      </div>

      <div class="col-md-10">
        
        <div class="row">
          <div class=" d-flex justify-content-start col-md-12 custom-text-green custom-border-green p-2 custom-rounded custom-bg-lighter-green mr-3">
            
            <div>
              <img src="/assets/images/users/blank-profile-pic.png" class="rounded-circle profile-pic-sm mr-2" alt="">
            </div>
            <div>
              <span>John Doe <i class="fa fa-user-circle ml-1"></i> </span>
              <small class="d-block text-dark">Full Stack web developer</small>
              <small>Total of 10 skills owned</small>
            </div>

          </div>
        </div>


      </div>

    </div>

    <div >
      <button class="btn custom-bg-green btn-block mt-3">view more 
        <img  class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </button>
    </div>

  </div>
</div>