<div class="card card-shadow">
  <div class="row">
      <div class="col-md-9">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="round align-self-center round-success card-round">
                  </div>
                  <div class="m-l-10 align-self-center">
                      <h4 class="m-b-0 green-text">John Smith</h4>
                      <p class="sq1"><span class="text-muted">Posted a problem</span>  <span>May 4 2020 at 7:30pm</span></p>
                  </div>
              </div>
              <div class="card-content">
                  <div class="d-flex no-block al m-r-15ign-items-center">
                      <div class="m-t-10">
                          <h4 class="text-dark font-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                              eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
                          <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </p>
                      </div>
                      <div class="ml-auto m-t-15">
                          <div class="crypto1"></div>
                      </div>
                  </div>
                  <div class="row  text-dark m-t-30 footer-btns">
                      <div class="col-1">
                          <p class="font-medium">
                              <i class="fa fa-arrow-up"></i> 2.5k</p>
                      </div>
                      <div class="col-1">
                          <p class="font-medium">
                              <i class="far fa-comment-alt"></i> 1.3k</p>
                      </div>
                      <div class="col-1">
                          <p class="font-medium">
                          <i class="fa fa-eye"></i> 250</p>
                      </div>
                      <div class="col-6">
                      </div>
                      <div class="col-1">
                          <p class="font-medium">
                              <i class="far fa-list-alt"></i> 80</p>
                      </div>
                      <div class="col-1">
                          <p class="font-medium">
                              <i class="icon-share"></i> 1.3k</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 card-right">
          <div class="d-flex no-block align-items-center">
              <div class="ml-auto card-right-top">
                  <span class="text-success display-8">
                      <i class="icon-options"></i>
                  </span>
              </div>
          </div>
          <div class="feed-widget scrollable" style="height:auto;">
              <ul class="list-style-none feed-body m-0 p-b-20">
                  <li class="feed-item">
                      <div class="feed-icon bg-info">
                      </div> Community
                  </li>
                  <li class="feed-item">
                      <div class="feed-icon bg-info">
                      </div> Good health and well being...
                  </li>
                  <li class="feed-item">
                      <div class="feed-icon bg-info">
                      </div> Manchester, United Kingdom
                  </li>
                  <li class="feed-item">
                      <div class="feed-icon bg-info">
                      </div> 2 applications left
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>