<div class="card card-shadow">
    <div class="row" *ngIf="post.problem">
        <div class="col-md-9">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-success card-round">
                    </div>
                    <div class="m-l-10 align-self-center">
                        <h4 class="m-b-0 green-text">{{ post.problem.owner.fullName }}</h4>
                        <p class="sq1"><span class="text-muted">Posted a problem</span>  <span>{{ post.problem.dateCreated | date }}</span></p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="">
                        <div class="m-t-10">
                            <h4 (click)="viewPost(post)" class="text-dark font-medium">{{ post.problem.title }}</h4>
                            <p  (click)="viewPost(post)"class="card-text">{{ post.problem.description }}</p>

                            <div (click)="toggleGroup(i)" class="suggestion-box" [ngClass]="{active: isGroupShown(i)}">
                                <h4>
                                    Suggestion

                                    <span class="h-span">
                                        <i [hidden]="isGroupShown(i)" class="mdi mdi-plus"></i>
                                        <i [hidden]="!isGroupShown(i)"  class="mdi mdi-close"></i>
                                    </span>
                                </h4>
                                <div *ngIf="isGroupShown(i)">
                                    <div class="row">
                                        <div class="col-sm-3"> 
                                            <div class="task-content-section">
                                                <p class="txt-hd-1">Start date</p>
                                                <p class="txt-cn-1">5th June 2020</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">  
                                            <div class="task-content-section">
                                                <p class="txt-hd-1">Estimated Time</p>
                                                <p class="txt-cn-1">{{ post.problem.suggestion.durationInDays }}</p>
                                            </div> 
                                        </div>
                                        <div class="col-sm-6">  
                                        </div>
                                    </div>  
                                    <div>
                                    <p class="txt-hd-1">Required skills</p> <br>
                
                                    <p><span *ngFor="let skill of post.problem.suggestion.requiredSkills" class="label darkgreen-bg lbl-1">{{skill.name}}</span></p>
                                    </div>
                                    <div>
                                    <p class="txt-hd-1">Start date</p>
                                    <p class="txt-cn-1">{{ post.problem.suggestion.description }}</p>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto m-t-15">
                            <div class="crypto1"></div>
                        </div>
                    </div>
                    <div class="row  text-dark m-t-30 footer-btns">
                        <div class="col-1">
                            <p class="font-medium">
                                <i class="fa fa-arrow-up"></i> {{ post.collection.votes }}</p>
                        </div>
                        <div class="col-1">
                            <p class="font-medium">
                                <i class="far fa-comment-alt"></i> {{ post.collection.comments }}</p>
                        </div>
                        <div class="col-1">
                            <p class="font-medium">
                            <i class="fa fa-eye"></i> {{ post.collection.ideas }}</p>
                        </div>
                        <div class="col-6">
                        </div>
                        <div class="col-1">
                            <p class="font-medium">
                                <i class="far fa-list-alt"></i> 80</p>
                        </div>
                        <div class="col-1">
                            <p class="font-medium">
                                <i class="icon-share"></i> 1.3k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 card-right" (click)="viewPost(post)">
            <div class="d-flex no-block align-items-center">
                <div class="ml-auto card-right-top">
                    <span class="text-success display-8">
                        <i class="icon-options"></i>
                    </span>
                </div>
            </div>
            <div class="feed-widget scrollable" style="height:auto;">
                <ul class="list-style-none feed-body m-0 p-b-20">
                    <li class="feed-item"  *ngFor="let goal of post.problem.ecoDetail.unSDGGoals">
                        <div class="feed-icon bg-info">
                        </div> {{goal.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>