<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">  
  <div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-body">                
                <div class="row col-sm-12">
                  <div>
                    <ul class="list-unstyled">
                      <li class="media">
                          <img class="m-r-15 ava-1" src="assets/images/users/1.jpg" width="60" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1 t-1 color-green">John Smith</h5> 
                            <p class="txt1 color-darkgreen">User Experience Researcher</p> 
                            <p class="txt2 color-darkgreen"><span class="b-1">Task</span> <span class="dot-1">·</span> <span>Posted May 4 2020 at 7:30pm</span> <span class="dot-1">·</span> <span>Manchester, United Kingdom</span> <span class="dot-1">·</span> <span>Edited</span></p> 
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12">   
                  <div class="card-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      <br>
                      <br>
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p> 
                    <div class="row">
                      <div class="col-sm-6"> 
                        <div class="task-content-section">
                          <p class="txt-hd-1">Start date</p>
                          <p class="txt-cn-1">5th June 2020</p>
                        </div>
                        <div class="task-content-section">
                          <p class="txt-hd-1">Submission of report</p>
                          <p class="txt-cn-1">Every 2 days</p>
                          <p class="txt-cn-1">10 total submissions</p>
                        </div>
                        <div class="task-content-section">
                          <p class="txt-hd-1">Required people</p>
                          <p class="txt-cn-1">4 total</p>
                          <p class="txt-cn-1">2 remaining</p>
                        </div>
                      </div>
                      <div class="col-sm-6">  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Duration of task</p>
                          <p class="txt-cn-1">2 weeks</p>
                        </div>  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Payment</p>
                          <p class="txt-cn-1">$10 on every confirmed report submitted</p>
                        </div>  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Status</p>
                          <p class="txt-cn-1">No started</p>
                        </div>
                      </div>
                    </div>  
                    <div>
                    </div>
                    <div>
                      <br><br>
                      <p class="txt-hd-1">Skills needed</p>

                      <p><span class="label  darkgreen-bg lbl-1">Business management - Silver</span><span class="label  darkgreen-bg lbl-1">Project management - Silver</span><span class="label  darkgreen-bg lbl-1">Research analysis - Silver</span></p>
                    </div>
                    <div class="row  text-dark m-t-30 footer-btns">
                        <div class="col-2">
                            <p class="font-medium">
                                <i class="fa fa-arrow-up"></i> 0 Votes</p>
                        </div>
                        <div class="col-2">
                            <p class="font-medium">
                                <i class="far fa-comment-alt"></i> 0 Comments</p>
                        </div>
                        <div class="col-2">
                            <p class="font-medium">
                            <i class="icon-bulb"></i> 0 Ideas</p>
                        </div>
                        <div class="col-3">
                            <p class="font-medium">
                                <i class="far fa-list-alt"></i> 0 Applications</p>
                        </div>
                        <div class="col-3">
                            <p class="font-medium">
                                <i class="icon-share"></i> 1.3k Shares</p>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 sect-right">
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">ECO category</p>
        <p class="txt-cn-2">O - Organisation</p>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">Task link</p>
        <p class="txt-cn-3">https://Eco.com/task1234</p>
        <p class="color-green" style="cursor: pointer;">Copy link</p>
      </div>
      <div class="section-padding">
        <button type="button" class="btn btn-rounded btn-block btn-outline-danger btn-danger">Delete task</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-rounded btn-2" (click)="modal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-rounded btn-1" (click)="modal.close('Close click')">Save changes</button>
</div> -->

