<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="postDetails && postDetails.task">  
  <div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-body">                
                <div class="row col-sm-12">
                  <div>
                    <ul class="list-unstyled">
                      <li class="media">
                          <img class="m-r-15 ava-1" src="assets/images/users/1.jpg" width="60" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1 t-1 color-green">{{ postDetails.task.owner.fullName }}</h5> 
                            <p class="txt1 color-darkgreen">{{ postDetails.task.owner.fullName }}</p> 
                            <p class="txt2 color-darkgreen"><span class="b-1">Task</span> <span class="dot-1">·</span> <span>Posted {{ postDetails.task.dateCreated |date:'MMMM d, y h:mm:ss a' }} </span> <span class="dot-1">·</span> <span>{{ postDetails.task.address.state.name }}, {{ postDetails.task.address.country.name }}</span></p> 
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12">   
                  <div class="card-content">
                    <p>
                      {{ postDetails.task.description }}
                    </p> 
                    <div class="row">
                      <div class="col-sm-6"> 
                        <div class="task-content-section">
                          <p class="txt-hd-1">Start date {{viewMode}}</p>
                          <p class="txt-cn-1">5th June 2020</p>
                        </div>
                        <div class="task-content-section">
                          <p class="txt-hd-1">Submission of report</p>
                          <p class="txt-cn-1">Every 2 days</p>
                          <p class="txt-cn-1">10 total submissions</p>
                        </div>
                        <div class="task-content-section">
                          <p class="txt-hd-1">Required people</p>
                          <p class="txt-cn-1">4 total</p>
                          <p class="txt-cn-1">2 remaining</p>
                        </div>
                      </div>
                      <div class="col-sm-6">  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Duration of task</p>
                          <p class="txt-cn-1">{{ postDetails.task.requirements.durationInDays }}</p>
                        </div>  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Payment</p>
                          <p class="txt-cn-1">$10 on every confirmed report submitted</p>
                        </div>  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Status</p>
                          <p class="txt-cn-1">No started</p>
                        </div>
                      </div>
                    </div>  
                    <div>
                    </div>
                    <div>
                      <br><br>
                      <p class="txt-hd-1">Skills needed</p>

                      <p><span *ngFor="let skill of postDetails.task.requirements.requiredSkills" class="label darkgreen-bg lbl-1">{{skill.name}}</span></p>
                    </div>
                    <div class="row  text-dark m-t-30 footer-btns">
                        <div class="col-3" (click)="voteTaskPost(postDetails.task.id)">
                            <p class="font-medium">
                                <i class="fa fa-arrow-up"></i> {{postDetails.collection.votes}} Votes</p>
                        </div>
                        <div class="col-3">
                            <p class="font-medium">
                                <i class="far fa-comment-alt"></i> {{postDetails.collection.comments}} Comments</p>
                        </div>
                        <div class="col-3">
                            <p class="font-medium">
                            <i class="icon-bulb"></i> {{postDetails.collection.ideas}} Ideas</p>
                        </div>
                        <!-- <div class="col-3">
                            <p class="font-medium">
                                <i class="far fa-list-alt"></i> 0 Applications</p>
                        </div> -->
                        <!-- <div class="col-3">
                            <p class="font-medium">
                                <i class="icon-share"></i> 1.3k Shares</p>
                        </div> -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="card-body">
              <div class="rights-part">
                  <div class="card">
                      <div class="card-body p-t-0 p-r-0">
                          <div class="chat-box p-r-15" style="height:calc(100vh - 400px); position: relative;" [perfectScrollbar]="config">
                              <ul class="chat-list">
                                <li class="chat-item" *ngFor="let comment of comments">
                                    <div class="chat-img">
                                        <img src="{{comment.owner.profilePicture?comment.owner.profilePicture:'assets/images/users/1.jpg'}}" alt="user">
                                    </div>
                                    <div class="chat-content">
                                        <div class="box bg-light-info">
                                          <h6 class="chat-name font-medium">{{ comment.owner.fullName }}</h6>
                                          <div class="chat-time">{{ comment.dateCreated |date:'MMMM d, y h:mm:ss a' }}</div>
                                          {{comment.message}}
                                        </div>
                                        <div class="row">
                                          <div class="col-2">
                                            <p (click)="scroll(target,comment)" class="font-medium re-1">Reply</p>
                                          </div>
                                          <!-- <div class="col-2">
                                            <p  (click)="toggleGroup(comment.id)" class="font-medium re-1">Replies ({{comment.replys}})</p>
                                          </div> -->
                                        </div>
                                        <!-- <div class="row" *ngIf="isGroupShown(comment.id)">
                                          <p>dddd</p>
                                        </div> -->
                                    </div>
                                </li>
                              </ul>
                          </div>
                      </div>
                      <div class="card-body">  
                        <div class="row">
                          <p style="background-color: #f1f5f1; padding: 8px;" *ngIf="commentToReply"><b>Replying:</b> {{ (commentToReply.message.length>60)? (commentToReply.message | slice:0:60)+'..':(commentToReply.message) }}</p>
                        </div>
                        <div class="row">
                          <div class="input-group">
                              <input #target type="text" class="form-control chat-input" [(ngModel)]="commentForm.message" placeholder="Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary send-btn" type="button" [disabled]="commenting || !commentForm.message" (click)="commentOnTask()">
                                    <i class="fas fa-paper-plane"></i>
                                  </button>
                              </div>
                          </div>
                        </div>
                          <!-- <div class="row">
                              <div class="col-9">
                                  <div class="input-field m-t-0 m-b-0">
                                      <input id="textarea1" placeholder="Type and enter" [(ngModel)]="commentForm.message" class="form-control border-0" type="text">
                                  </div>
                              </div>
                              <div class="col-3">
                                  <a class="btn-circle btn-lg btn-cyan float-right text-white" [class.disabled]="commenting || !commentForm.message" href="javascript:void(0)" (click)="commentOnPost()">
                                      <i class="fas fa-paper-plane"></i>
                                  </a>
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
            </div>               
        </div>
    </div>
    <div class="col-sm-3 sect-right">
      <div class="border-bottom-section section-padding" style="padding-bottom: 20px;" *ngIf="currentUser.id !== postDetails.task.owner.id">
        <button type="button" class="btn btn-block btn-success btn-green"><i class="fas fa-list-alt"></i> Apply to this task</button>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">ECO category</p>
        <p class="txt-cn-2">{{postDetails.task.ecoDetail.ecoEntity.name}}</p>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">UNSDGs</p>
        <p class="txt-cn-2" *ngFor="let g of postDetails.task.ecoDetail.unSDGGoals">{{g.name}}</p>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">Task link</p>
        <p class="txt-cn-3">https://Eco.com/task1234</p>
        <p class="color-green" style="cursor: pointer;">Copy link</p>
      </div>
      <div class="section-padding" *ngIf="currentUser.id == postDetails.task.owner.id">
        <button type="button" *ngIf="!deleteConfirmation" (click)="deleteConfirmation = true" class="btn btn-rounded btn-block btn-outline-danger btn-danger">
          Delete task
        </button>
        <div *ngIf="deleteConfirmation">
          <p>Please confirm if you want to delete</p>
          <button type="button" (click)="deleteProblem(postDetails.task.id)" class="btn btn-block btn-success">
            <img *ngIf="deleting" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            {{deleting?'Deleting':'Yes'}}
          </button>
          <button type="button" (click)="deleteConfirmation = false" class="btn btn-block btn-outline-danger ">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" *ngIf="postDetails && postDetails.problem">  
  <div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-body">                
                <div class="row col-sm-12">
                  <div>
                    <ul class="list-unstyled">
                      <li class="media">
                          <img class="m-r-15 ava-1" src="assets/images/users/1.jpg" width="60" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1 t-1 color-green">{{ postDetails.problem.owner.fullName }}</h5> 
                            <p class="txt1 color-darkgreen">{{ postDetails.problem.owner.fullName }}</p> 
                            <p class="txt2 color-darkgreen"><span class="b-1">Task</span> <span class="dot-1">·</span> <span>Posted {{ postDetails.problem.dateCreated |date:'MMMM d, y h:mm:ss a' }} </span> <span class="dot-1">·</span> <span>{{ postDetails.problem.address.state.name }}, {{ postDetails.problem.address.country.name }}</span></p> 
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12">   
                  <div class="card-content">
                    <p>
                      {{ postDetails.problem.description }}
                    </p> 
                    <div class="row">
                      <div class="col-sm-6"> 
                        <div class="task-content-section">
                          <p class="txt-hd-1">Start date</p>
                          <p class="txt-cn-1">5th June 2020</p>
                        </div>
                        <div class="task-content-section">
                          <p class="txt-hd-1">Submission of report</p>
                          <p class="txt-cn-1">Every 2 days</p>
                          <p class="txt-cn-1">10 total submissions</p>
                        </div>
                        <div class="task-content-section">
                          <p class="txt-hd-1">Required people</p>
                          <p class="txt-cn-1">4 total</p>
                          <p class="txt-cn-1">2 remaining</p>
                        </div>
                      </div>
                      <div class="col-sm-6">  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Duration of task</p>
                          <p class="txt-cn-1">{{ postDetails.problem.suggestion.durationInDays }}</p>
                        </div>  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Payment</p>
                          <p class="txt-cn-1">$10 on every confirmed report submitted</p>
                        </div>  
                        <div class="task-content-section">
                          <p class="txt-hd-1">Status</p>
                          <p class="txt-cn-1">No started</p>
                        </div>
                      </div>
                    </div>  
                    <div>
                    </div>
                    <div>
                      <br><br>
                      <p class="txt-hd-1">Skills needed</p>

                      <p><span *ngFor="let skill of postDetails.problem.suggestion.requiredSkills" class="label darkgreen-bg lbl-1">{{skill.name}}</span></p>
                    </div>
                    <div class="row  text-dark m-t-30 footer-btns">
                        <div class="col-3">
                            <p class="font-medium">
                                <i class="fa fa-arrow-up"></i> {{postDetails.collection.votes}} Votes</p>
                        </div>
                        <div class="col-3">
                            <p class="font-medium">
                                <i class="far fa-comment-alt"></i> {{postDetails.collection.comments}} Comments</p>
                        </div>
                        <div class="col-3">
                            <p class="font-medium">
                            <i class="icon-bulb"></i> {{postDetails.collection.ideas}} Ideas</p>
                        </div>
                        <!-- <div class="col-3">
                            <p class="font-medium">
                                <i class="far fa-list-alt"></i> 0 Applications</p>
                        </div> -->
                        <!-- <div class="col-3">
                            <p class="font-medium">
                                <i class="icon-share"></i> 1.3k Shares</p>
                        </div> -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="card-body">
              <div class="rights-part">
                  <div class="card">
                      <div class="card-body p-t-0 p-r-0">
                          <div class="chat-box p-r-15" style="height:calc(100vh - 400px); position: relative;" [perfectScrollbar]="config">
                              <ul class="chat-list">
                                <li class="chat-item" *ngFor="let comment of comments">
                                    <div class="chat-img">
                                        <img src="{{comment.owner.profilePicture?comment.owner.profilePicture:'assets/images/users/1.jpg'}}" alt="user">
                                    </div>
                                    <div class="chat-content">
                                        <div class="box bg-light-info">
                                          <h6 class="chat-name font-medium">{{ comment.owner.fullName }}</h6>
                                          <div class="chat-time">{{ comment.dateCreated |date:'MMMM d, y h:mm:ss a' }}</div>
                                          {{comment.message}}
                                        </div>
                                        <div class="row">
                                          <div class="col-2">
                                            <p (click)="scroll(target,comment)" class="font-medium re-1">Reply</p>
                                          </div>
                                          <!-- <div class="col-2">
                                            <p  (click)="toggleGroup(comment.id)" class="font-medium re-1">Replies ({{comment.replys}})</p>
                                          </div> -->
                                        </div>
                                        <!-- <div class="row" *ngIf="isGroupShown(comment.id)">
                                          <p>dddd</p>
                                        </div> -->
                                    </div>
                                </li>
                              </ul>
                          </div>
                      </div>
                      <div class="card-body">  
                        <div class="row">
                          <p style="background-color: #f1f5f1; padding: 8px;" *ngIf="commentToReply"><b>Replying:</b> {{ (commentToReply.message.length>60)? (commentToReply.message | slice:0:60)+'..':(commentToReply.message) }}</p>
                        </div>
                        <div class="row">
                          <div class="input-group">
                              <input #target type="text" class="form-control chat-input" [(ngModel)]="commentForm.message" placeholder="Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary send-btn" type="button" [disabled]="commenting || !commentForm.message" (click)="commentOnPost()">
                                    <i class="fas fa-paper-plane"></i>
                                  </button>
                              </div>
                          </div>
                        </div>
                          <!-- <div class="row">
                              <div class="col-9">
                                  <div class="input-field m-t-0 m-b-0">
                                      <input id="textarea1" placeholder="Type and enter" [(ngModel)]="commentForm.message" class="form-control border-0" type="text">
                                  </div>
                              </div>
                              <div class="col-3">
                                  <a class="btn-circle btn-lg btn-cyan float-right text-white" [class.disabled]="commenting || !commentForm.message" href="javascript:void(0)" (click)="commentOnPost()">
                                      <i class="fas fa-paper-plane"></i>
                                  </a>
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
            </div>               
        </div>
    </div>
    <div class="col-sm-3 sect-right">
      <div class="border-bottom-section section-padding" style="padding-bottom: 20px;" *ngIf="currentUser.id !== postDetails.problem.owner.id">
        <button type="button" class="btn btn-block btn-success btn-green"><i class="fas fa-list-alt"></i> Apply to this task</button>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">ECO category</p>
        <p class="txt-cn-2">{{postDetails.problem.ecoDetail.ecoEntity.name}}</p>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">UNSDGs</p>
        <p class="txt-cn-2" *ngFor="let g of postDetails.problem.ecoDetail.unSDGGoals">{{g.name}}</p>
      </div>
      <div class="border-bottom-section section-padding">
        <p class="txt-hd-1">Task link</p>
        <p class="txt-cn-3">https://Eco.com/task1234</p>
        <p class="color-green" style="cursor: pointer;">Copy link</p>
      </div>
      <div class="section-padding" *ngIf="currentUser.id == postDetails.problem.owner.id">
        <button type="button" *ngIf="!deleteConfirmation" (click)="deleteConfirmation = true" class="btn btn-rounded btn-block btn-outline-danger btn-danger">
          Delete task
        </button>
        <div *ngIf="deleteConfirmation">
          <p>Please confirm if you want to delete</p>
          <button type="button" (click)="deleteProblem(postDetails.problem.id)" class="btn btn-block btn-success">
            <img *ngIf="deleting" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            {{deleting?'Deleting':'Yes'}}
          </button>
          <button type="button" (click)="deleteConfirmation = false" class="btn btn-block btn-outline-danger ">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-rounded btn-2" (click)="modal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-rounded btn-1" (click)="modal.close('Close click')">Save changes</button>
</div> -->

