<div class="modal-header">
  <!-- <h4 class="modal-title">Remove Middleman</h4> -->
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">  
  <div class="top-section">
    <img class="cb-logo" src="assets/images/logo-text-black.png" alt="logo" />
    <p>Curriculum Vitae</p>
  </div> 
  <div class="row middle-section">
    <div class="col-md-12">
            <h2>Aanu Adedoye</h2>
            <p>aanuade@gmail.com</p>
    </div>
    <div class="col-md-12">
      <p class="sect-title">Position</p>
      <p>Managing Editor</p>
    </div>
    <div class="col-md-12">
      <p class="sect-title">Location</p>
      <p>San Francisco</p>
    </div>
    <div class="col-md-12">
      <p class="sect-title">23/09/2019</p>
    </div>
  </div>
</div>
<div class="modal-footer" style="text-align: center !important; display: block;">
  <p>23/09/2019</p>
</div>

<!-- 
<div class="col-md-4">
  <div class="user-pidc">
        <p class="sect-title">Current Position</p>
        <p>Managing Editor</p>
  </div>
</div> -->