<div class="auth-wrapper d-flex justify-content-center no-block">


  <div class="col-sm-8 text-center">
      <span class="db"><img height="60" src="assets/images/logo.png" alt="logo" /></span>
      <h3 class="big-text m-auto">Request Verification Link?</h3>
      <p *ngIf="!sent"> Type in your email and we will send you a link.</p>

    <div *ngIf="!sent" class="col-12 m-auto">
      <form [formGroup]="requestVerificationEmailForm">
        <div class="mt-5 ">
          <div class="input-group mb-3">
  
            <div class="col-12 text-left">
                <input class="form-control border-input"  type="text" placeholder="Email Address" formControlName="emailAddress">
                <app-validator-error-message  [form]="requestVerificationEmailForm" [field]="'emailAddress'"  ></app-validator-error-message>
            </div>
            
          </div>
        </div>

        <div class="mt-3 d-flex justify-content-between">
          <button type="button" class="btn btn-dark btn-curved" routerLink="/authentication/login" > Back to sign in </button>
          <button type="button" [disabled]="loading"  class="btn btn-dark btn-curved" (click)="makeRequest()" > Send 
            <img *ngIf="loading" class="pl-2 m-auto" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </button>
        </div>

      </form>
    </div>

    <div *ngIf="sent" class="col-12 d-block mt-5 m-auto">
      <hr>
      <h4 class="green-text_2">Thank you for your request, we will check if email exists on the platform and send you a link.</h4>

      <div class="mt-3">
        <button type="button" class="btn btn-dark btn-curved float-left" routerLink="/authentication/login" > Back to sign in </button>
      </div>

    </div>




  </div>


</div>