<div class="card card-shadow">
  
  <div class="card-body">
    <h5 class="card-title border-bottom">Community
      <!-- <i  class="fa fa-search pointer custom-text-green float-right" data-toggle="collapse" data-target="#openServiceSearch" aria-expanded="false" aria-controls="openServiceSearch" ></i> -->
    </h5>

    <!-- <div class="collapse mb-2" id="openServiceSearch">
      <fieldset class="border p-2" style="position: relative;">
                                  
        <legend  class="w-auto"> <span class="d-none d-lg-block" >Name of organization</span> </legend>   

        <i  class="fa fa-times text-danger pointer clear-form-button" ></i>

        <input class="form-control form-control-md fieldset-input" placeholder="Search for a service">
                                        
      </fieldset>    
    </div> -->

    <div class="row">

      <div class="col-md-12 text-center pt-3">

        <i class="fa fa-bullhorn fa-2x" ></i>
        <h3>Community is coming soon</h3>
        
        <!-- <div class="row">

          <div class=" d-flex justify-content-start col-md-12 custom-text-green custom-border-green p-4 custom-rounded custom-bg-lighter-green mb-2">
            
            <div>
              <img src="/assets/images/users/blank-profile-pic.png" class="rounded-circle profile-pic-sm mr-2" alt="">
            </div>
            <div>
              <span>Beads Inc <i class="fa fa-building ml-1"></i> </span>
              <small class="d-block text-dark"> <strong>HeadQuarters: </strong>34 ABC road 12663, New York, United State</small>
            </div>

          </div>

          <div class=" d-flex justify-content-start col-md-12 custom-text-green custom-border-green p-4 custom-rounded custom-bg-lighter-green mb-2">
            
            <div>
              <img src="/assets/images/users/blank-profile-pic.png" class="rounded-circle profile-pic-sm mr-2" alt="">
            </div>
            <div>
              <span>Scissors Inc <i class="fa fa-building ml-1"></i> </span>
              <small class="d-block text-dark"><strong>Branch: </strong>334 ABC road 12663, New York, United State</small>
            </div>

          </div>

        </div>


      </div> -->

    </div>

    <!-- <div >
      <button class="btn custom-bg-green btn-block mt-3">view more 
        <img  class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </button>
    </div> -->

  </div>
</div>